.all-notes {
    padding: 0px 50px 0px 50px;
}

.note-list {
    padding: 1rem;
    background: #f9f9f9;
    border-radius: 10px;
    list-style: none
}

.note-item {
    border: 1px solid #c3c3c4;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #f9fafb;
}

.note-header {
    font-weight: bold;
    margin-bottom: 4px;
}

.noteadd-btn {
    background-color: rgb(21, 190, 21);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 7px;
}

.noteadd-btn:hover {
    background-color: rgb(9, 172, 9);
    cursor: pointer;
}

.notedelete-btn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.noteedit-btn {
    background-color: rgb(72, 72, 250);
    border: none;
    color: white;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.note-actions {
    display: flex;
}

@media (max-width: 768px) {
    .all-notes {
        padding: 0px 15px;
    }

    /* .noteadd-btn {
        font-size: 13px;
        padding: 6px;
        width: 100%;
    } */

    .note-list {
        padding: 0.5rem;
    }

    .note-item {
        padding: 10px;
    }

    .note-header {
        font-size: 0.95rem;
    }

    .note-content p {
        font-size: 0.9rem;
    }

    .note-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .note-actions {
        margin-top: 6px;
        gap: 6px;
    }

    .notedelete-btn,
    .noteedit-btn {
        font-size: 14px;
        padding: 5px 8px;
    }
}