.client-container {
    padding: 0px 50px 0px 50px;
}

.client-list {
    padding: 20px;
}

.client-list h2 {
    margin-bottom: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

th,
td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f5f5f5;
}

.clientaction-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.clientedit-btn,
.clientdelete-btn,
.clientview-btn {
    border: none;
    border-radius: 4px;
    margin-right: 6px;
    cursor: pointer;
    color: white;
    font-size: 13px;
}

.clientedit-btn {
    background-color: #1976d2;
}

.clientedit-btn:hover {
    background-color: #176dc2;
    cursor: pointer;
}

.btn-and-search button {
    background-color: rgb(21, 190, 21);
    padding: 10px;
    border-radius: 4px;
    margin-right: 6px;
    height: 35px;
    border: none;
    font-size: 14px;
    color: white;
}

.btn-and-search button:hover {
    background-color: rgb(9, 172, 9);
    cursor: pointer;
}


.clientview-btn {
    background-color: rgb(199, 165, 71);
    padding: 5px 5px;
    margin-right: 5px;
}

.clientview-btn:hover {
    background-color: rgb(197, 154, 36);
}


.clientdelete-btn {
    background-color: #d13a3a;
    padding: 5px 5px;
}

.clientdelete-btn:hover {
    background-color: #c42b2b;
    cursor: pointer;
}

.no-data {
    text-align: center;
    padding: 16px;
}

.btn-and-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.clientadd-btn {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container {
    position: relative;
    width: 250px;
    margin-right: 50px;
}

.search-input {
    width: 100%;
    padding: 8px 12px 8px 32px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-icon {
    color: grey;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 14px;
}